<nav>
  <div class="d-flex align-items-center justify-content-center">
    <div class="logo"></div>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-8 col-md-9">
        <h1>Welcome!</h1>
        <h1 class="highlight">The Best Online Gaming</h1>
        <p class="mt-4">
          In the increasingly hot online gambling market, we are constantly
          seeking innovations and changes, and we develop various game methods
          with our proud creative team.
        </p>
        <p>
          Provide customers with instant, Stimulating, considerate entertainment
          products and high-quality services are the foundation of our company
          primary purpose.
        </p>
        <div class="d-flex flex-column flex-lg-row align-items-center mt-5">
          <div>
            <a
              href=""
              role="button"
              class="btn mb-4 me-lg-3"
              download
            >
              <i class="fab fa-apple"></i>
              IOS Download
            </a>
          </div>
          <div>
            <a
              href=""
              role="button"
              class="btn mb-4"
              download
            >
              <i class="fab fa-android"></i>
              Android Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
