nav {
  height: 100px;
  background-color: #0e2b79;

  .logo {
      width: 180px;
      height: 90px;
      background: url("../assets/images/logo.png") no-repeat center;
      background-size: contain;
  }
}

.master-head {
  position: relative;
  min-height: 100vh;
  padding-top: 6rem;
  color: #fff;
  z-index: 1;
  background: #1d41af;

  .highlight {
      color: #ff0;
  }

  h1 {
      font-weight: bold;
  }

  a {
      height: 40px;
      color: #ff0;
      border: 2px solid #ff0;

      &:hover {
          color: #000;
          background-color: #ff0;
      }
  }
}